
h1 {
    color: darkblue;
    font-size: 24px;
    padding: 30px;
    background-color:  #ce63ad;
    text-align: center;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: white;

    
    }
    
div.BarChart-bar {
    
    background-color: skyblue;
    color: navy;
    width: 150px;
    text-align: center;
    letter-spacing: 3px;
    cursor:pointer;
    padding-top: 30px;

}

.BarChart-bar:hover {
    background-color: #CEBAC8;
    trasition: background-color 0.3s;
    
    
}


